body{
    width: 100%;
}
#main{
    width:70%;
    margin-left: 120px;
    /* padding:10%; */
    display: flex;
}
#news_result{
    width:50%;
    margin: auto;

}
div{
    margin-top: 20px;
    /* box-shadow: 1px 1px 1px 1px; */
}
img{
    width:100%;
}
h3{
 width:100%;
 margin-top: 40px;
 overflow: visible;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    box-shadow: 1px;
}
#side_news{
    width:30%;
    overflow:scroll;
    margin-right: 20px;
    border: 1px solid rgba(175, 169, 169, 0.799);
}